<!DOCTYPE html>
<html lang="en">

<head>


    <title>Beto Ambrosio</title>
    
    <!-- jQuery -->
	<script src="../js/jquery.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
   	<script src="../js/bootstrap.min.js"></script>
	
	<link href="./jquery.bxslider.css" rel="stylesheet" />
	<script src="./jquery.bxslider.js"></script>


	
    <script>
    	$(document).ready(function(){
	    	  $('.bxslider').bxSlider({
    			  auto: true,
    			  
    			});
    	});
    </script>
 
    
    


</head>
        
<body>

			<div style="width: 50em; overflow: hidden; border: 2px solid black">
        		   <ul class="bxslider">
        			  <li><img src="../../albuns/3/552188_368070089940752_2058230998_n.jpg" class="img-responsive" style="width: 100%; height: 200px;"></li>
        			  <li><img src="../../albuns/3/199854_368559633225131_1411617883_n.jpg" class="img-responsive" style="width: 100%; height: 200px;"></li>
        		   </ul>
        	</div>

</body>

</html>
